Django==5.2.3
django-extensions==4.1
gunicorn==23.0.0
django-heroku==0.3.1
psycopg2==2.9.10
django-colorfield==0.14.0
django-environ==0.12.0
psycopg2-binary==2.9.10
google==3.0.0
google-api-python-client==2.174.0
google-cloud-secret-manager==2.24.0
