<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category Detail for {{ color.name_ja }}</title>
  </head>
  <body style="background-color: #{{ color.hex_color }};">


    <div style="text-align: center;">
        <h1>{{ color.name_ja }}</h1>
        <h2>{{ color.name_en }}</h2>
        <h2>{{ category.name_ja }} {{ category.name_en }}</h2>
        <p>{{ color.description_en}}</p>
        <p>#{{ color.hex_color}}</p>

        <h3>Grain Sizes</h3>
        {% if grains %}
  
        {% for grain in grains %}
          <div>
            <a href="/colors/{{color.id}}/categories/{{category.code}}/grains/{{grain.id}}">{{ grain.label }}</a>
          </div>
        {% endfor %}
    
        {% else %}
        <p>No grain sizes defined.</p>
        {% endif %}

        <br>
        <br>
        <a href="/colors/{{color.id}}">Back to {{ color.name_ja }}</a>
    </div>

  </body>
</html>
