<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Colors</title>
  </head>
  <body style="background-color: #{{ color.hex_color }};">

    <div style="text-align: center;">
        <h1>{{ color.name_ja }}</h1>
        <h2>{{ color.name_en }}</h2>
        <p>{{ color.description_en}}</p>
        <p>#{{ color.hex_color}}</p>

        <h3>Pigment Categories</h3>
        {% if categories %}

        {% for category in categories %}
          <div>
            <a href="/colors/{{ color.id }}/categories/{{category.code}}">{{ category.name_ja}} - {{ category.name_en }}</a>
          </div>
        {% endfor %}
  
        {% else %}
        <p>No categories defined.</p>
        {% endif %}

        <br>
        <br>
        <a href="/colors/">Back to Colors</a>
    </div>

  </body>
</html>
